@font-face {
  font-family: 'KTF Jermilov Trial Stencil';
  src: url('KTFJermilovTrial-Stencil.woff2') format('woff2'),
      url('KTFJermilovTrial-Stencil.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'KTF Jermilov Trial Stencil';
  src: url('KTFJermilovTrial-Stencil.woff2') format('woff2'),
      url('KTFJermilovTrial-Stencil.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
